BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Attach
AlignAfterOpenBracket: AlwaysBreak
NamespaceIndentation: None
AccessModifierOffset: -2
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 4
Cpp11BracedListStyle: true
FixNamespaceComments: true
SpacesBeforeTrailingComments: 2
